DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432

SMTP=smtp.example.com
EMAIL_SENDER=example@example.com
EMAIL_PASSWORD=example email password
EMAIL_ACCOUNT=exampl@example.com

#https://www.twilio.com/
TWILIO_SID=twilio service id
TWILIO_AT=twilio authority token
TWILIO_PHONE=twilio sender phone
TWILIO_SSSID=twilio SSSID

ADMIN_PHONE=admin phone for notification of user message
