<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>HELLO WORLD</h1>
    <form method="POST" action="/admin">
      Brand:<input  id="listOfCars" name="listOfCars" class="listOfCars" textholder="listOfCars"/>
      <br>
      Model:<input textholder="model" name="name" class="model"/>
      <br>
      Upload Image:<input type="file" id="img" class="img" name="img"/>
      <br>
      Year:<input textholder="year" name="year" class="year"/>
      <br>
      Price:<input textholder="price" name="price" class="price"/>
      <br>
      SOLD:<input name="sold" id="sold" type="checkbox" class="sold" checked/>
      <br>
      Color:<input textholder="color" name="color" class="color"/>
      <br>
      Mileage:<input textholder="mileage" name="mileage" class="mileage"/>
      <br>
      Transmission:<input textholder="transmission" name="transmission" class="transmission"/>
      <br>
      Fuel Type:<input textholder="fuelType" name="fuelType" class="fuelType"/>
      <br>
      <a href="/admin">
        <button class="post-item" name="post-item">POST</button>
      </a>
    </form>
  </body>
</html>
