<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/scripts/admin.js"></script>

    <title>Auto World</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">Auto World</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Admin</a>
          </div>
        </div>
      </nav>
    </header>


    <!-- <div class="thePostForm">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                First radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Second radio
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
              <label class="form-check-label" for="gridRadios3">
                Third disabled radio
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-2">Checkbox</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Example checkbox
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </div> -->


    <h2 class="createPost">
      CREATE A NEW POST
    </h2>
    <form method="POST" action="/admin">
      <div class="thePostForm">

        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="listOfCars" name="listOfCars" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">model</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="model" name="model" placeholder="">
          </div>
        </div>


        <!-- <div class="input-group row"> -->
          <!-- <label for="inputText3" class="col-sm-2 col-form-label">Upload Image</label> -->
          <!-- <div class="col-sm-5">
            <input type="file" id="img" class="form-control" name="img"/>
            <input type="file" class="custom-file-input" id="img" aria-describedby="inputGroupFileAddon01">
          </div> -->
          <!-- <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload Image</span>
          </div>
          <div class="col-sm-5custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div> -->

        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Year</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="year" name="year" placeholder="">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="price" name="price" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Color</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="color" name="color" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Mileage</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="mileage" name="mileage" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Transmission</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="transmission" name="transmission" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Fuel Type</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="fuelType" name="fuelType" placeholder="">
          </div>
        </div>

        <div class="input-group row">
          <label for="inputText3" class="col-sm-2 col-form-label">Upload Image</label>
          <div class="col-sm-5">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="img" name="img" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="img">Choose file</label>
            </div>
          </div>
        </div>
        <script>
          $('#img').on('change',function(e){
              $(this).next('.custom-file-label').html(e.target.files[0].name);
          })
        </script>

        <div class="form-group row">
          <div class="col-sm-5 right float-right">
            <button type="submit" class="btn btn-primary">POST</button>
          </div>
        </div>

      </div>
    </form>


    <!-- <h2 class="createPost">
      CREATE A NEW POST
    </h2>
    <form method="POST" action="/admin">
      <div class="thePostForm">
        Brand: <input  id="listOfCars" name="listOfCars" class="listOfCars" textholder="listOfCars"/>
        <br>
        Model: <input textholder="model" name="name" class="model"/>
        <br>
        Upload Image: <input type="file" id="img" class="img" name="img"/>
        <br>
        Year: <input textholder="year" name="year" class="year"/>
        <br>
        Price: <input textholder="price" name="price" class="price"/>
        <br>
        SOLD: <input name="sold" id="sold" type="checkbox" class="sold" checked/>
        <br>
        Color: <input textholder="color" name="color" class="color"/>
        <br>
        Mileage: <input textholder="mileage" name="mileage" class="mileage"/>
        <br>
        Transmission: <input textholder="transmission" name="transmission" class="transmission"/>
        <br>
        Fuel Type: <input textholder="fuelType" name="fuelType" class="fuelType"/>
        <br>
        <a href="/admin">
          <button class="post-item" name="post-item">POST</button>
        </a>
      </div>
    </form>     -->


    <div class="container">
      <div class="row" id="trade-container">
      </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top bg-dark ">
      <p class="col-md-4 mb-0 text-muted">© Lighthouse Lab, Ahshu / Erik / Sanghwan</p>

      <div
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        Auto World
      </div>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Menu1</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">menu2</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  </body>
</html>
