<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/scripts/admin.js"></script>

    <title>Auto World</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">Auto World</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Admin</a>
          </div>
        </div>
      </nav>
    </header>


    <div class="form-row">
      <div class="form-panel">

          <div class="card bg-light mb-3" >
            <div class="card-header"><h2>Create a new post</h2></div>
            <div class="card-body">

              <form method="POST" action="/admin">

                <div class="form-body">

                  <div class="form-body-inside-left">

                    <div class="form-group row">
                      <label for="listOfCars" class="col-sm-2 col-form-label">Brand</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="listOfCars" name="listOfCars" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="model" class="col-sm-2 col-form-label">model</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="model" name="model" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-2 col-form-label">Year</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="year" name="year" placeholder="">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-2 col-form-label">Price</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="price" name="price" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-2 col-form-label">Color</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="color" name="color" placeholder="">
                      </div>
                    </div>

                  </div>

                  <div class="form-body-inside-right">
                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-3 col-form-label">Mileage</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="mileage" name="mileage" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-3 col-form-label">Transmission</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="transmission" name="transmission" placeholder="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-3 col-form-label">Fuel Type</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="fuelType" name="fuelType" placeholder="">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputText3" class="col-sm-3 col-form-label">Image</label>
                      <div class="col-sm-7">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="img" name="img" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="img">Choose file</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-10 " >
                        <button type="submit" class="btn btn-primary float-right">POST</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

      </div>
    </div>

    <script>
      $('#img').on('change',function(e){
          $(this).next('.custom-file-label').html(e.target.files[0].name);
      })
    </script>

    <div class="container">
      <div class="row" id="trade-container">
      </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top bg-dark ">
      <p class="col-md-4 mb-0 text-muted">© Lighthouse Lab, Ahshu / Erik / Sanghwan</p>

      <div
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        Auto World
      </div>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Menu1</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">menu2</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  </body>
</html>
