<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>CONTACT HERE TO PURCHASE YOUR CAR</h1>
    <section>
      <form action="/messages" method="POST">
        <label for="fname"><b>Name</b></label>
        <input type="text" placeholder="Enter Your Full Name" name="fname" required>
        <br>
        <label for="nameemail"><b>Email</b></label>
        <input type="text" placeholder="Enter Your E-Mail" name="nameemail" required>
        <br>
        <textarea class="messagetext" name="messagetext" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">SEND THE MESSAGE</button>
      </form>
    </section>
  </body>
</html>