<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auto World</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header class="theHeader">
      <div class="headerleft">
          <h1 class="title">Auto World</h1>
          <div class="cars">Vehicles</div>
        </div>      
    </header>
    <main>
      <section class="theForm">
        <h3 class="select-title">SELECT THE VEHICLE</h3>
        <form method="GET" action="/cars">
          <select name="list-of-cars" id="list-of-cars">
            <option value="audi">Audi</option>
            <option value="bmw">BMW</option>
            <option value="porsche">Porsche</option>
            <option value="mercedes">Mercedes-Benz</option>
            <option value="volkswagen">Volkswagen</option>
          </select>
          <select name="price-range" id="price-range">
            <option value="fivethousand">0$-5000$</option>
            <option value="tenthousand">5000$-10000$</option>
            <option value="twentythousand">10000$-20000$</option>
            <option value="fiftythousand">20000$-50000$</option>
            <option value="infinity">50000$+</option>
          </select>
          <input id="submit" type="submit" value="SEARCH" class="search"/>
        </form>
      </section>
      <h1 class="vehicles-on-sale">VEHICLES ON SALE</h1>
      <section class="shopping">
        <div class="shopping_subcontainer">
          <h4 class="shopping_heading">Audi S7</h4>
          <img src="../images/audiseven.png" class="shopping_image" alt="vehicle" class="vehicleimg"/>
        </div>
          <div class="information">
            <p>Year: 2019</p>
            <p>Price: 75,000$</p>
            <p>Status: ON SALE!</p>
            <p>Color: White</p>
            <p>Mileage: 14,000 km</p>
            <p>Transmission: automatic</p>
            <p>Fuel Type: Regular</p>
            <button class="send-a-message">SEND A MESSAGE</button>
          </div>             
      </section>
      <section class="shopping">
        <div class="shopping_subcontainer">
          <h4 class="shopping_heading">BMW 318i</h4>
          <img src="../images/bmw.webp" class="shopping_image" alt="vehicle" class="vehicleimg"/>
        </div>
          <div class="information">
            <p>Year: 2006</p>
            <p>Price: 4,500$</p>
            <p>Status: ON SALE!</p>
            <p>Color: White</p>
            <p>Mileage: 95,000 km</p>
            <p>Transmission: manual</p>
            <p>Fuel Type: Regular</p>
            <button class="send-a-message">SEND A MESSAGE</button>
          </div>             
      </section>
    </main>
    <footer>
      <p>Authors - Erik, Sanghwan, & Anshu</p>
    </footer>
  </body>
</html>
