<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/scripts/app_sample.js"></script>

    <title>Auto World</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">Auto World</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Vehicles</a>
          </div>
        </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div>
      </nav>
    </header>

    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5" style="background-image: url('../images/audiseven.png');"> <!--inline style should move to scss-->
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">main-header example</h1>
            <p class="lead text-muted">Website description Website description Website description Website description Website description</p>
            <p>
              <h3 class="select-title">SELECT THE VEHICLE</h3>
              <form method="GET" action="/cars" class="form-inline">
                <div class="form-group">
                <!-- <div class="col-sm-5"> -->
                  <select class="form-control" name="list-of-cars" id="list-of-cars" aria-label="">
                    <option value="audi">Audi</option>
                    <option value="bmw">BMW</option>
                    <option value="porsche">Porsche</option>
                    <option value="mercedes">Mercedes-Benz</option>
                    <option value="volkswagen">Volkswagen</option>
                  </select>
                <!-- </div> -->
                </div>
                <!-- <div class="col-sm-7"> -->
                <div class="form-group">
                  <select class="form-control" name="price-range" id="price-range">
                    <option value="fivethousand">0$-5000$</option>
                    <option value="tenthousand">5000$-10000$</option>
                    <option value="twentythousand">10000$-20000$</option>
                    <option value="fiftythousand">20000$-50000$</option>
                    <option value="infinity">50000$+</option>
                  </select>
                <!-- </div> -->
                </div>
                <input id="submit" type="submit" value="SEARCH" class="btn btn-secondary"/>
              </div>
              </form>
            </p>
          </div>
        </div>
      </section>

      <!-- <div>
        <div class="container">
          <section class="shopping">
            <div class="shopping_subcontainer">
              <h4 class="shopping_heading">Audi S7</h4>
              <img src="../images/audiseven.png" alt="vehicle" class="shopping_image vehicleimg"/>
            </div>
              <div class="information">
                <p>Year: 2019</p>
                <p>Price: 75,000$</p>
                <p>Status: ON SALE!</p>
                <p>Color: White</p>
                <p>Mileage: 14,000 km</p>
                <p>Transmission: automatic</p>
                <p>Fuel Type: Regular</p>
                <button class="send-a-message">SEND A MESSAGE</button>
              </div>
          </section>
        </div>
      </div> -->

      <div class="container">
        <div class="row" id="trade-container">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="../images/audiseven.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Year: 2019</p>
                  <p class="card-text">Price: 75,000$</p>
                  <p class="card-text">Status: ON SALE!</p>
                  <p class="card-text">Color: White</p>
                  <p class="card-text">Mileage: 14,000 km</p>
                  <p class="card-text">Transmission: automatic</p>
                  <p class="card-text">Fuel Type: Regular</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                      <button type="button" class="btn btn-sm btn-outline-secondary">Message</button>
                    </div>
                    <small class="text-muted">2 days ago</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="../images/audiseven.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Year: 2019</p>
                  <p class="card-text">Price: 75,000$</p>
                  <p class="card-text">Status: ON SALE!</p>
                  <p class="card-text">Color: White</p>
                  <p class="card-text">Mileage: 14,000 km</p>
                  <p class="card-text">Transmission: automatic</p>
                  <p class="card-text">Fuel Type: Regular</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                      <button type="button" class="btn btn-sm btn-outline-secondary">Message</button>
                    </div>
                    <small class="text-muted">2 days ago</small>
                  </div>
                </div>
              </div>
            </div>

        </div>



      </div>

    </main>
<!--
    <header class="theHeader">
      <div class="headerleft">
          <h1 class="title">Auto World</h1>
          <div class="cars">Vehicles</div>
        </div>
    </header>
    <main>
      <section class="theForm">
        <h3 class="select-title">SELECT THE VEHICLE</h3>
        <form method="GET" action="/cars">
          <select name="list-of-cars" id="list-of-cars">
            <option value="audi">Audi</option>
            <option value="bmw">BMW</option>
            <option value="porsche">Porsche</option>
            <option value="mercedes">Mercedes-Benz</option>
            <option value="volkswagen">Volkswagen</option>
          </select>
          <select name="price-range" id="price-range">
            <option value="fivethousand">0$-5000$</option>
            <option value="tenthousand">5000$-10000$</option>
            <option value="twentythousand">10000$-20000$</option>
            <option value="fiftythousand">20000$-50000$</option>
            <option value="infinity">50000$+</option>
          </select>
          <input id="submit" type="submit" value="SEARCH" class="search"/>
        </form>
      </section>

      <h1 class="vehicles-on-sale">VEHICLES ON SALE</h1>
      <section class="shopping">
        <div class="shopping_subcontainer">
          <h4 class="shopping_heading">Audi S7</h4>
          <img src="../images/audiseven.png" class="shopping_image" alt="vehicle" class="vehicleimg"/>
        </div>
          <div class="information">
            <p>Year: 2019</p>
            <p>Price: 75,000$</p>
            <p>Status: ON SALE!</p>
            <p>Color: White</p>
            <p>Mileage: 14,000 km</p>
            <p>Transmission: automatic</p>
            <p>Fuel Type: Regular</p>
            <button class="send-a-message">SEND A MESSAGE</button>
          </div>
      </section>
      <section class="shopping">
        <div class="shopping_subcontainer">
          <h4 class="shopping_heading">Audi S7</h4>
          <img src="../images/audiseven.png" class="shopping_image" alt="vehicle" class="vehicleimg"/>
        </div>
          <div class="information">
            <p>Year: 2019</p>
            <p>Price: 75,000$</p>
            <p>Status: ON SALE!</p>
            <p>Color: White</p>
            <p>Mileage: 14,000 km</p>
            <p>Transmission: automatic</p>
            <p>Fuel Type: Regular</p>
            <button class="send-a-message">SEND A MESSAGE</button>
          </div>
      </section>
    </main>
-->

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© Lighthouse Lab, Ahshu /  Erik / Sanghwan</p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        Auto World
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Menu1</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">menu2</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  <!-- Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
