// See: https://sass-lang.com/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;

  h1 {
    color: white;
  }

  span {
    color: white;
  }
}

.theHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 43, 189);
  width:100%;
  height:5rem;
  padding-left: 2em;
  padding-right: 3em;
}

.headerleft {
  display: flex;
  align-items: baseline;
  > *{margin: 0 1em;}
}

.cars {
  display: flex;
  padding-top: 25px;
  color: white;
  font-size: 150%;
}

.theForm {
  border: 5px solid black;
  margin: auto;
  margin-top: 30px;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  width: 33%;
  border-radius: 5px;
  background-color: rgb(76, 76, 221);
}

.select-title {
  text-align: center;
  font-size: 120%;
  color: white;
}

.search {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.search:hover {
  background-color: gray;
}

.vehicles-on-sale {
  margin: auto;
  text-align: center;
  color: black;
  margin-top: 40px;
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
  width: 30%;
}

.vehicleimg {
  display: block;
  width: 30%;
  padding-top: 10px;
}

.shopping {
  margin: auto;
  display: flex;
  border: 5px solid black;
  width: 45%;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.item_sold_parent {
  position: relative;
  overflow: hidden;
}

#item_sold_parent > h3 {
  background-color: rgba(174, 0, 0, 0.51);
  text-align: center;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 20px;
  display: block;
  color: white;
  font-size: 3em;
}

.shopping > h3{
  background-color: rgba(174, 0, 0, 0.51);
  text-align: center;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 20px;
  display: block;
  color: white;
  font-size: 3em;
}

.shopping_subcontainer{
  margin: auto;
  padding: auto;
  width: 60%;
  padding-bottom: 10px;
}

.shopping_image{
  width: 90%;
  height: 18rem;
}

.information{
  margin: auto;
  padding: auto;
  margin-top: 3rem;
  padding-right: 2em;
}

.send-a-message {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.send-a-message:hover {
  background-color: gray;
}

footer {
  background-color: rgb(43, 43, 189);
  width: 100%;
  height: 5rem;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.titlemessages {
  text-align: center;
}

.textplace {
  border: 2px solid black;
  background-color: rgb(166, 188, 230);
  margin: auto;
  margin-top: 30px;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  margin-bottom: 30px;
  width: 90%;
}

.firstuser {
  border: 2px solid blue;
  background-color: blue;
  color: white;
  margin: 3em;
  margin-top: 30px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 70%;
}

.firstadmin {
  border: 2px solid gray;
  background-color: gray;
  color: white;
  margin: 3em;
  margin-top: 30px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 70%;
}

.messagetext {
  margin: 1em;
  width: 97%;
}

.sendatext {
  margin: auto;
  background-color: black;
  border-radius: 1em;
  color: white;
  height: 50px;
  width: 100%;
}

.sendatext:hover {
  background-color: gray;
  text-shadow: black;
}

.card-body > p{
  line-height: 0.5rem;
}

// .itemBox .Closed {

//     font-size: 14px;
//     line-height: 22px;
//     color: white;
//     background: Red;
//     text-align: center;
//     font-weight: bold;
// }
.modal-body .row {
  padding: 0.2em;
}

//Erik's code

// See: https://sass-lang.com/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;

  h1 {
    color: white;
  }

  span {
    color: white;
  }
}

.theHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 43, 189);
  width:100%;
  height:5rem;
  padding-left: 2em;
  padding-right: 3em;
}

.headerleft {
  display: flex;
  align-items: baseline;
  > *{margin: 0 1em;}
}

.cars {
  display: flex;
  padding-top: 25px;
  color: white;
  font-size: 150%;
}

.theForm {
  border: 5px solid black;
  margin: auto;
  margin-top: 30px;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  width: 33%;
  border-radius: 5px;
  background-color: rgb(76, 76, 221);
}

.select-title {
  text-align: center;
  font-size: 120%;
  color: white;
}

.search {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.search:hover {
  background-color: gray;
}

.vehicles-on-sale {
  margin: auto;
  text-align: center;
  color: black;
  margin-top: 40px;
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
  width: 30%;
}

.vehicleimg {
  display: block;
  width: 30%;
  padding-top: 10px;
}

.shopping {
  margin: auto;
  display: flex;
  border: 5px solid black;
  width: 45%;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.item_sold_parent {
  position: relative;
  overflow: hidden;
}

// .item_sold_parent:hover{
//   transform: scale(1.05);
//   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
// }

// .card .mb-4 .box-shadow {
#item_sold_parent {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  min-height: 30.5rem;
//cursor: pointer;
}
// .card.mb-4.box-shadow:hover{
#item_sold_parent:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



#item_sold_parent > h3 {
  background-color: rgba(174, 0, 0, 0.51);
  text-align: center;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 20px;
  display: block;
  color: white;
  font-size: 3em;
}

.shopping > h3{
  background-color: rgba(174, 0, 0, 0.51);
  text-align: center;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 20px;
  display: block;
  color: white;
  font-size: 3em;
}

.shopping_subcontainer{
  margin: auto;
  padding: auto;
  width: 60%;
  padding-bottom: 10px;
}

.shopping_image{
  width: 90%;
  height: 18rem;
}

.information{
  margin: auto;
  padding: auto;
  margin-top: 3rem;
  padding-right: 2em;
}

.send-a-message {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.send-a-message:hover {
  background-color: gray;
}

footer {
  // background-color: rgb(43, 43, 189);
  width: 100%;
  // height: 5rem;
  // color: white;
  // text-align: center;
  // padding-top: 20px;
  // margin-top: 20px;
  margin: 0px;
}

.titlemessages {
  text-align: center;
}

.textplace {
  border: 2px solid black;
  background-color: rgb(166, 188, 230);
  margin: auto;
  margin-top: 30px;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  margin-bottom: 30px;
  width: 90%;
}

.firstuser {
  border: 2px solid blue;
  background-color: blue;
  color: white;
  margin: 3em;
  margin-top: 30px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 70%;
}

.firstadmin {
  border: 2px solid gray;
  background-color: gray;
  color: white;
  margin: 3em;
  margin-top: 30px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 70%;
}

.messagetext {
  margin: 1em;
  width: 97%;
}

.sendatext {
  margin: auto;
  background-color: black;
  border-radius: 1em;
  color: white;
  height: 50px;
  width: 100%;
}

.sendatext:hover {
  background-color: gray;
  text-shadow: black;
}

.card-body > p{
  line-height: 0.5rem;
}


.modal-body .row {
  padding: 0.2em;
}

.createPost {
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thePostForm {
  display: flex;
  flex-direction: column;

  margin: auto;
  border: 0.3px solid black;
  padding-top: 10px;
  // padding-bottom: 10px;
  margin-bottom: 10px;
  width: 60%;
//  background-color: rgb(180, 228, 230);
  background-color:lighten(#000, 93.5%);
}


.form-row {
  display: flex;
  align-content: space-around;
  justify-content: center;
}
.form-panel {
  margin-top: 2em;
  margin-bottom: 1em;
  align-content: space-around;
  justify-content: center;
  width:70%;
}


.form-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  // align-content: space-around;
  justify-content: center;
}
.form-body-inside-left {
  width: 50%;
}
.form-body-inside-right {
  width: 50%;
}
.form-button {
  width: 50%;
}

.post-item {
  background-color: black;
  color: white;
  border-radius: 2em;
}

.post-item:hover {
  background-color: grey;
  box-shadow: black;
}

.heartred{
  color:red;
}


